@import "tailwindcss";

@theme {
  /* ? Primary */
  --color-primary-50: #E1E8EF;
  --color-primary-100: #D4DEE7;
  --color-primary-200: #B7C7D7;
  --color-primary-300: #99B0C7;
  --color-primary-400: #7C99B6;
  --color-primary-500: #5E82A6;
  --color-primary-600: #4C6B8A;
  --color-primary-700: #3C546C;
  --color-primary-800: #2C3D4F;
  --color-primary-900: #1B2631;
  --color-primary-950: #141C24;

  /* $ Accent */
  --color-accent-50: #FAF5F0;
  --color-accent-100: #F4ECE1;
  --color-accent-200: #E8D6BF;
  --color-accent-300: #DDC2A2;
  --color-accent-400: #D2AF84;
  --color-accent-500: #C69963;
  --color-accent-600: #B78343;
  --color-accent-700: #926835;
  --color-accent-800: #6C4D28;
  --color-accent-900: #4B351B;
  --color-accent-950: #382814;

  --animate-slideDown: slideDown 0.3s ease-out forwards;
  --animate-fadeIn: fadeIn 0.3s ease-out;
  --animate-slideUp: slideUp 0.3s ease-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideDown {
    from {
      transform: translateY(0);
      opacity: 1;
    }

    to {
      transform: translateY(20px);
      opacity: 0;
    }
  }
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme('colors.primary.900');
    border-right-color: theme('colors.primary.200');
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme('colors.primary.200');
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* For data picker, version: 8 */
/* .rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme('colors.accent.500') !important;
  --rdp-background-color: theme('colors.accent.600') !important;
  margin: 0 !important;
} */

/* For data picker, lateset version */
.rdp-root {
  --rdp-day-height: 24px !important;
  --rdp-day-width: 24px !important;
  --rdp-accent-color: var(--color-accent-500) !important;
  --rdp-accent-background-color: var(--color-accent-600) !important;
  margin: 0 !important;

  .rdp-nav {
    display: none;
  }

  .rdp-dropdown {
    color: var(--color-slate-500) !important;
  }

  .rdp-dropdown option:disabled {
    color: var(--color-slate-300) !important;
  }

}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  transform: rotate(0);
  transition: all 0.4s
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.bg-hero {
  background-image: url('/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}